*{
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=138515), auto;
}

body{
    color: #333;
    background: #eee;
    font-family: 'neue-haas-grotesk-text', serif;
    font-size: 0.8rem;
    line-height: 1.1rem;
    margin: 4%;
}

h3{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2.4rem;
}

header p{
    font-size: 0.9rem;
    line-height: 1.4rem;
}

header{
    padding-bottom: 4rem;
    /*    border-bottom: solid 1px #333;*/
}

header a{
    text-decoration: underline;
}

header{
    display: block;
    margin-bottom: 2rem;
}

#logo{
    width: 10%;
    display: block;
    margin-bottom: 20px;
}

h1{
    text-align: left;
    font-size: 1.2rem;
    font-weight: bold;
}

.text{
    text-align: center;
}

a, a:hover, a:visited{
    color: currentColor;
}

.player{
    width: 22%;
    padding-bottom: 25px;
    box-sizing: border-box;
    margin-right: 4%;
    margin-top: 4%;

    border-radius: 20px;
    background: #eeeeee;
    box-shadow:  6px 6px 12px #e4e4e4, 
        -6px -6px 12px #f8f8f8;
    float: left;
    position: relative;
    top: 0;
    transition: top ease-in 0.2s;
}

.clear{
    clear: both;
    float: none;
}

#rotation, #bench, #shadows, #mascot, footer{
    margin-top: 4rem;
}

#bench p i, #shadows p i, #mascot p i{
    display: none;
}

.no-m-right{
    margin-right: 0%;
}

.player:hover{
    top: -4px;
}

.player p i{
    /*color: #fff69c;*/
    font-size: 0.6rem;
}

.player img{
    width: 70%;
    margin-left: 15%;
}

h2{
    font-weight: bold;
}



@media all and (max-width:768px) {
    .player{
        width: 46%;
        margin-right: 4%;
    }

    .section a:nth-of-type(even) .player{
        margin-right: 0%;
    }

    #logo{
        width: 30%;
        display: block;
        margin-bottom: 20px;
    }
}